{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block nav %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Metis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" 
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Nav Items -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Booklist <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
        </ul>
        <!-- Search -->
        <form action="{{ url_for('search') }}" method="POST" class="form-inline my-2 my-md-0">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block body %}

<div class="mb-5">
    <h1 class="display-3 font-weight-bold">Booklist</h1>
    <span class="text-muted">ordered by avg score descending</span>
</div>
<!-- Displaying all the Books -->
<div class="container-fluid d-flex flex-wrap justify-content-around">
    {% for book in books %}
        <div class="card m-2 mb-4" style="width: 20rem;">
            <div class="card-header"><h3> {{ book[0] }} </h3></div>
            <div class="card-body pb-0">
                <h6 class="card-text">written by {{book[1]}}</h6>
                <h6 class="card-text">published in {{book[2]}}</h6>
                <a href="#" class="btn btn-info btn-sm mt-3">Go To Book Page</a>
                <p class="align-self-end text-muted mb-0 mt-3">ISBN: {{book[3]}}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}